# Python
__pycache__
*.pyc
*.pyd
*.pyo
.Python
build/
dist/
var/
wheels/

# Environments
.venv

# Byte-code files
*.py[cod]

# IDEs
.vscode/
.ruff_cache/
uploads/

# Environment Variables
.env

# Testing
.pytest_cache/ 

# Alembic
alembic/versions/*.pyc

#clean up folder
cleanup_s/
tests/
uploads/